*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.navbar {
    background:#ee4040;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .navbar-brand:hover {
      color: #fff;
      transform: scale(1.1);
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: rgb(20, 5, 1);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .site-logo {
      width: 100%;
      max-width: 2.1rem;
  }
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.content {
    width: 100%;
    max-width: 90%;
    height:90vh;
}
.description {
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #ee4040;
  }
  .description p {
    color: rgb(7, 6, 6);
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .description button {
    border:1px solid #ee4040;
    background:#ee4040;
    border-radius: 0;
    color:#fff;
    outline-color: 1px solid #ee4040;
  }
  .description button:hover {
    border:1px solid #ee4040;
    background:#fff;
    color:#000;
  }
  .image-fluid {
      max-width: 2rem;
  }
  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }

  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 30%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
  }
