*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}
*>h1,h2,h3,.navbar-brand,.nav-link{
  font-weight: 700;
}
.navbar {
    background:#ee4040;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .navbar-brand:hover {
      color: #fff;
      transform: scale(1.1);
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover ,.active-link{
    color: rgb(20, 5, 1);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .site-logo {
      width: 100%;
      max-width: 2.1rem;
  }
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.content{
    width: 100%;
    max-width: 90%;
    height:90vh;
}
.description {
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #ee4040;
  }
  .description p {
    color: rgb(7, 6, 6);
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .description button {
    border:1px solid #ee4040;
    background:#ee4040;
    border-radius: 0;
    color:#fff;
    outline-color: 1px solid #ee4040;
  }
  .description button:hover {
    border:1px solid #ee4040;
    background:#fff;
    color:#000;
  }
  .image-fluid {
      max-width: 2rem;
  }
  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }

.about{
  padding: 5.5rem;
  padding-bottom: 0;
}
.about h2{
  display: inline-block;
  padding: 1rem 0;
  border-bottom: .5rem solid #ee4040;
  margin-bottom: 1rem;
}

.about  span {
  padding: .2rem;
  border-bottom: #ee4040 .01rem solid;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #ee4040;
}
a:hover {
  animation: sakeit .5s;
  text-decoration: none;
  color: #ee4040;
}
@keyframes sakeit {
  0%{
    margin-left: .3rem;
  }
  20%{
    margin-left: 0;
  }
  50%{
    margin-left: -.2rem;
  }
  70%{
    margin-left: 0;
  }
  90%{
    margin-left: .5rem;
    animation-delay: .3s; 
  }
  100%{
    margin-left: 0;
  }
}
a > i {
  font-size: .7rem;
  color: #ee4040;
}
.about span:hover {
  box-shadow: 1px 2px 8px #ee4040;
  border-bottom: none;
  
}
.about ol {
  margin-left: 5rem;
}
.fa {
  transform: scale(2.2);
  margin-left: 2rem;
}
.fa-facebook-square{
  margin-left: 1rem;
}
.fa-instagram {
  color: #ee4040;
}
.fa-youtube {
  color: #f00c04;
}
.fa-twitter-square {
  color: #13b6f7;
}
.row{
  padding: 1rem;
}
.col {
  box-shadow: 0 1px 8px lightgrey;
  margin-left: 1rem;
  margin-top: 1.2rem;
  text-align: center;
  height: 12rem;
  cursor: pointer;
}
.col img {
  width: 12rem;
  max-width: 100%;
}
.col:hover {
  transform: scale(1.1);
  box-shadow: none;
}
.col a{
  text-decoration: none;
}
.gallery-cover {
  padding: 0;
  overflow: hidden;
}
.gallery-cover p {
  position: absolute;
  bottom: -10rem;
  background: #ee4040;
  padding: .2rem .5rem;
  padding-top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 600;
  width: 100%;

}
.gallery-cover img {
  width: 100%;
  max-width: 100%;
}
.gallery-cover:hover p{
  box-shadow: 2px 2px 100px #ee4040;
  bottom: -1rem;
  width: 100%;
  height: 40%;
  text-align: center;
}
.gallery-cover:hover img {
  filter: blur(7px) brightness(100);
}
.col a h3 {
  color: #f8f1f1;
  text-align: center;
  margin-top: 50%;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 4px lightblue;
}


  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 30%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    .about {
      padding: 1rem;
    }
    
    .row{
      display: table;
    }
  }

  @media screen and (max-width:770px){
    .row{
      height: auto;
      display: grid;
      padding: 1rem;
    }
    .col a h3 {
      margin-top: 20%;
      font-size: 3rem;
    }
    .col:hover {
      transform: scale(1.1);
    }
    .gallery-cover {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
    .about ol {
      margin-left: 1rem;
    }
  }

  @media screen and (max-width:1370px){
    .gallery-cover {
      width: 80%;
      max-width: 100%;
    }
  }
  .counter {
    padding: .5rem 1.2rem;
    border-radius: 1rem;
    background: #ee4040;
    font-size: .9rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
